/* ---------------- link-icons ------------------------ */

/* remove bullets and margin for links w/ icons */
.file-list li {
  margin-left:-1.5em;
  list-style-type:none;
  border-top: 1px solid #CCC;
  padding: 5px 0;
}

/* Small Icons */
.iconic {
  padding:2px 0 2px 22px;
  margin:-2px 0;
  background-repeat:no-repeat;
  background-position:left center;
}

/* DIRECTORY */

.directory li {
  margin: 0 20px 12px 0;
  list-style-type:none;
  float: left;
}

.directory li a, a.directory {
  padding:5px 7px 5px 27px;
  margin:-2px 0;
  background-repeat:no-repeat;
  background-position:5px center;
  border: 1px solid #CCC;
  text-decoration: none;
  background-color: #FFF;
  color: #333;
}

.directory li a {
  display:block;
  margin:0;
}

.directory.fixed-width li a, .directory.fixed-width-medium li a {
  width:200px;
}

.directory.fixed-width-small li a {
  width:100px;
}

.directory.fixed-width-large li a {
  width:300px;
}

.directory a:hover, a:hover.directory {
  background-color: #D9D9D9;
}